:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #2196f3;
--primary-white-color: #FFFFFF;
}

h1, h2, h3, h4 {
margin: 0;
}

ul, p {
margin: 0;
padding: 0;
}


body {
    margin: 0;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;}

ul {
    list-style: none;}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    display: block;
    margin-right: 50px;
    padding: 25px 0px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);}

.logo-primary {
    color: var(--primary-text-color);
}

.site-nav a {
    display: inline-block;
    color: var(--primary-text-color)}
.link:hover,
.link:focus  {
    color: var(--accent-color);
    
}

.site-nav {
    display: flex;
}

.site-nav-list {
    display: flex;
    align-items: center;
    margin: 0px 50px;
    padding: 32px 0px;
}

.site-nav-list .link.current {
    display: block;
    color: var(--accent-color);
}

.site-nav .link {
    text-decoration: none;
}

 .contact-nav-link {
    margin-right: 50px;
 }
 .contact-nav-link:last-child{
    margin-right: 0;
 } 

.contacts {
    display: flex;
    align-items: center;
}
.contact-nav {
    margin-right: 50px;
}

.contact-nav:last-child {
    margin-right: 0;
}

.contact-link {
    display: inline-block;
    font-style: normal;
    text-decoration: none;

    color: var(--title-text-color)}
    .contact-link:hover,
    .contact-link:focus  {
    color: var(--accent-color);  
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #2F303A;
    text-align: center;
}

.center {
    display: block;
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--primary-white-color);
    
}

.button {
    display: inline-block;
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    border-radius: 4px;}

.button:hover,
.button:focus {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.header-container {
    display: flex;

}
.container-center {
    display: block;
}

.section {
    padding: 94px 0px;
}

.benefits-container {
    display: flex;

}

.benefits-compani {
    margin-right: 30px;
}
.benefits-compani:last-child{
    margin-right: 0;
}

.benefits {
    padding-top: 94px;
    padding-bottom: 114px;
    text-align: center;
}

.benefits-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;}

.benefits-text {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
}
.foto-work {
    padding-bottom: 94px;
}
.title {
    text-align: center;
}

.title-container {
    display: flex;
}
.work-foto {
    display: block;
    margin-right: 30px;
}
.work-foto:nth-child(3n){
    margin-right: 0px;
} 
.section-foto {
    display: block;
    text-align: center;
    width: 370px;
}
   
.work {
    padding: 94px 0px ;
    background-color: #F5F4FA;
}

.work-container {
    display: flex;
    text-align: center;
}

.section-img {
    display: block;
    width: 270px;
}

.job {
    padding: 30px 10px;
}
.section-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-text {

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

.personal {
    background-color: var(--primary-white-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.personal:nth-child(4n) {
    margin-right: 0px;
}

.title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;  
}
.projects {
    flex-wrap: wrap;
}
.projects-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


.projects-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color)}

    .logo-footer {
        padding: 0px;
        margin-bottom: 20px;
    }
.footer {
    padding: 60px 0px;
    background-color: #2F303A;
    font-style: normal;
}

.footer .logo-primary {
    color: var(--primary-white-color);
}
.contact-footer {
    margin-bottom: 9px;
}

.footer-link:nth-child(2) {
    margin-bottom: 0;
  }

.footer-link {
    display: block;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--primary-white-color);
    color: var(--accent-color);}
    
.footer-link-emeil{
    margin-bottom: 0;
}
.footer-address {
    display: block;

    color: var(--primary-white-color);
    text-decoration: none;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address:hover,
.footer-address:focus {
    color: var(--primary-white-color);
    color: var(--accent-color);}

    .general {
    padding: 94px 0px;
}

.features {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.link-button {
    display: block;
    
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    color: var(--primary-text-color); 
    background-color: #F5F4FA;;
    border-radius: 4px;
    border: none;}
    
    
.features .link-button:hover,
.features .link-button:focus {
    color: var(--title-text-color);
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;}

.features-link {
    margin-right: 8px;
}
.features-link:last-child {
    margin-right: 0;
}

.projects {
display: flex;

}

 .projects-img {
    display: block;
    width: 370px;
    height: auto;
    max-width: 100%;
}
.different-project {
    margin-right: 30px;
    margin-bottom: 30px;
}
.different-project:nth-child(n + 7) {
     margin-bottom: 0;
}
.different-project:nth-child(3n) {
    margin-right: 0px;
}
.different-projects {
    padding: 20px 24px;
    background: var(--primary-white-color);
    border: 1px solid #EEEEEE;
    border-top: none;

}
